body{

    text-align: center;
}

.contains {

    background-color: black;
    height: 315px;
    width: 215px;
}

p {

    align-content: center;
}

.bricks, .paragraph {

    margin-left: 100px;
    float: left;
    align-items: center;
}

.blocks {

    margin-top: 50px;
}

.paragraph {

    margin-right: 120px;
}

h1 {
    color: white;
    padding-top: 60%;
}
